/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/fraunces-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

.header {
  padding-top: 32px;
  padding-bottom: 40px;
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list {
  display: none;
}
.header__link {
  color: rgb(131, 136, 143);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
}
.header__link:hover {
  color: rgb(51, 61, 75);
}
.header__logo {
  display: none;
}
.header__logo:first-child {
  display: inline-block;
}
.header__btn {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("/img/header_btn.svg");
  border: none;
  background-color: unset;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 40px;
    padding-bottom: 53px;
  }
  .header__btn {
    display: none;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .header__logo:last-child {
    display: inline-block;
  }
  .header__logo:first-child {
    display: none;
  }
}
@media screen and (min-width: 1060px) {
  .header {
    padding-top: 50px;
    padding-bottom: 48px;
  }
}
.hero__block {
  text-align: center;
  padding-top: 101px;
  padding-right: 24px;
  padding-bottom: 136px;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-image: url("/img/create_hero-mobile_bg.jpeg");
  background-size: cover;
  border-radius: 10px;
}

.hero__title {
  color: rgb(254, 252, 247);
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 22px;
}
.hero__text {
  color: #CECECB;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (min-width: 650px) {
  .hero__block {
    background-image: url("/img/create_hero-tab_bg.jpeg");
    text-align: left;
    padding-top: 127px;
    padding-bottom: 126px;
    padding-left: 58px;
  }
  .hero__content {
    max-width: 398px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 992px) {
  .hero__block {
    background-image: url("/img/create_hero-pc_bg.jpeg");
    padding-top: 134px;
    padding-bottom: 134px;
    padding-left: 85px;
  }
  .hero__title {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 32px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 26px;
  }
  .hero__content {
    max-width: 486px;
  }
}
.choose {
  padding-top: 120px;
  padding-bottom: 100px;
}

.choose__block {
  border-radius: 10px;
  background-color: #2c343e;
  padding: 80px 24px;
  text-align: center;
}

.choose__sub_title {
  color: #fff;
  font-family: Fraunces;
  font-size: 25px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 24px;
}
.choose__sub_title::before {
  content: "01";
  display: block;
  color: rgb(253, 214, 186);
  font-family: Fraunces;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 24px;
}

.choose__inenr_text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.choose__item {
  margin-bottom: 56px;
}

.footer {
  background-color: #2c343e;
  padding-top: 54px;
  padding-right: 55px;
  padding-bottom: 54px;
  padding-left: 55px;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  text-align: center;
}
.footer__link {
  color: rgb(131, 136, 143);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
}
.footer__link:hover {
  color: rgb(51, 61, 75);
}
.footer__link:hover {
  color: rgb(254, 252, 247);
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
.footer__icon_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer__block {
    gap: 0;
  }
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 67px;
  }
}
@media screen and (min-width: 1100px) {
  .footer__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__list {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 100px;
  }
  .footer__icon_list {
    margin-left: 0;
    margin-right: 0;
  }
}/*# sourceMappingURL=create.css.map */