.commit {
    padding-top: 120px;

    &__block {
        text-align: center;
    }

    &__title {
        color: $dark-grey-blue;
        font-family: Fraunces;
        font-size: 32px;
        font-weight: 900;
        line-height: 48px;
        margin-top: 48px;
        margin-bottom: 30px;
    }

    &__text {
        @include text($dark-grey-blue);
    }

    &__img {
        display: none;
    }
}

#commit1 {
    display: inline-block;
}

@media screen and (min-width:768px) {
    #commit1 {
        display: none;
    }

    #commit2 {
        display: inline-block;
    }

    .commit {
        &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 69px;
            text-align: left;
        }

        &__title {
            margin-top: 0;
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 30px;
        }

        &__content {
            max-width: 50%;
        }
    }
}

@media screen and (min-width:1100px) {
    #commit1 {
        display: none;
    }

    #commit2 {
        display: none;
    }

    #commit3 {
        display: inline-block;
    }

    .commit {
        &__block {
            max-width: 1110px;
            margin-left: auto;
            margin-right: auto;
        }

        &__content {
            max-width: 540px;
        }

        &__title {
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 32px;
        }

        &__text {
            font-size: 16px;
            line-height: 26px;
        }
    }
}